<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Snooker Calculator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.files.publicPath %>apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>favicon-16x16.png">
        <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json">
        <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="Snooker Calculator">
        <meta name="application-name" content="Snooker Calculator">
        <meta name="theme-color" content="#ffffff">        
        <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous"> -->
        <!-- <link rel="stylesheet" href="/dist/app.css"> -->
        <script>
            var publicPath = "<%= htmlWebpackPlugin.files.publicPath %>";
        </script>
    </head>
    <body>
        <div id="example"></div>

        <!-- Dependencies -->
        <!-- <script src="./node_modules/react/umd/react.development.js"></script> -->
        <!-- <script src="./node_modules/react-dom/umd/react-dom.development.js"></script> -->

        <!-- Main -->
        <!-- <script src="/dist/common.bundle.js"></script> -->
        <!-- <script src="/dist/app.bundle.js"></script> -->
        <% //console.log(htmlWebpackPlugin) %>
    </body>
</html>